<h3>{{title}}
  <span>{{filteredBooks.length}}</span>
</h3>
<div class="content">
  <ol>
    {{#each filteredBooks as |book|}}
    <li>
      <a href="#">{{book.title}}</a>
      <a class="year" href="by_year.html">{{book.publicationDate}}</a> -
      <a href="biography.html">{{book.author}}</a>
    </li>
    {{/each}}
  </ol>
  <p>
  <a href="to_read.html" class="more">view more...</a>
  </p>
</div>
