<header class="header">
<h1>Reading list</h1>
</header>
<div class="container">
  <nav class="nav-bar">
  <ul>
    <li>
    {{link-to 'Dashboard' 'index'}}
    </li>
    <li>
    {{link-to 'To read next' 'next'}}
    </li>
    <li>
    {{link-to 'To buy' 'to-buy'}}
    </li>
    <li>
    {{link-to 'Search' 'search'}}
    </li>
    <li>
    {{link-to 'History' 'history'}}
    </li>
  </ul>
  <p>group by</p>
  <ul>
    <li>
    <a href="by_author.html">author</a>
    </li>
    <li>
    <a href="by_year.html">year</a>
    </li>
  </ul>
  </nav>
  <div class="main">
    <div class="article">
      {{outlet}}
    </div>
  </div>
</div>
